# Ignore everything
**

# Allow poetry files and project directory
!Readme.md
!poetry.lock
!pyproject.toml
!entrypoint.sh
!secrets_hunter/
!etc/

# Ignore test directories inside allowed directories
# Ignore python related files inside allowed directories
**/tests/
**/__pycache__
**/*.pyc
